<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP3</title>

    <!-- vendors -->
    <script src="bower_components/angular/angular.js"></script>

    <!-- app -->
    <script src="app/contacts-app.module.js"></script>
    <script src="app/contacts-app.controller.js"></script>
    <script src="app/contacts-app.filter.js"></script>
    <script src="app/contacts-app.directive.js"></script>

</head>
<body ng-app="contactsApp" ng-controller="homeCtrl">

    <pre>{{ contacts | json }}</pre>

    <span ng-bind="[] | capitalize"></span>

    <input type="text" ng-model="search" name="search">
    <ul>
        <li ng-repeat="contact in contacts | filter:search | orderBy:'name'">
            <span ng-bind="contact.name | capitalize"></span>
            <span ng-bind="contact.company"></span>
            <span ng-bind="contact.email"></span>

            <mail-to name="contact.name" email="contact.email"></mail-to>
        </li>
    </ul>
</body>
</html>